.header {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  &--dark {
    grid-row: 1;
    position: fixed;
  }

  button {
    font-size: 1.9rem;
    padding: 1.5rem 0;
    margin: 0 1.5rem;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  @include respond(tabLand) {
    grid-column: 1;
  }

  &--group {
    text-align: center;
    padding: 0;
    grid-row: 2;

    padding: 1.5rem 0 0 0;

    h1 {
      font-size: 7.5rem;
      font-weight: 900;
      padding: 1.5rem 0 0 0;

      @include respond(tabLand) {
        font-size: 5rem;
      }
    }

    h4 {
      padding: 0;
      margin: 0;
      font-size: 4rem;
      font-weight: 700;

      @include respond(tabLand) {
        font-size: 3rem;
      }
    }
  }
}