nav {
  grid-row: 2;
  margin: 3rem 0 0 0;
  padding: 0;
  width: 100%;

  @include respond(tabLand) {
    width: 90%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {

      a {
        font-weight: 700;
        display: block;
        padding: 1.5rem;
        text-decoration: none;

      }
    }
  }
}