.howto {
  grid-column: 2;
  grid-row: 2;
  margin: 3rem 0 0 0;

  @include respond(tabLand) {
    grid-column: 1;
  }

  h3 {
    font-size: 2.4rem;
    padding: 0.75rem 0;
    text-align: center;

    @include respond(tabLand) {
      font-size: 2.2rem;
      padding: 3rem 0 0 0;
    }
  }


  p {
    font-size: 2rem;
    padding: 1.5rem;

    @include respond(tabLand) {
      padding: 0 3rem;
    }
  }
}