.howto {
  grid-column: 2;
  grid-row: 2;
  margin: 3rem 0 0 0;

  img {
    padding: 1.5rem 0;
  }

  a {
    color: #ff3838;
  }

  code,
  pre {
    margin: 1.5rem 0;
    padding: 1.5rem;
  }

  h3 {
    font-size: 2.4rem;
    padding: 1.5rem 0;
  }

  pre {
    padding: 1.5rem 0;
  }

  p {
    font-size: 2rem;
  }
}