*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.4;
  min-height: 100vh;

  &.light-mode {
    background-color: #fff;
    color: #2d2d2d;
    transition: background-color 0.3s ease;

    .home {
      a {
        color: #FF3838;
      }
    }

    pre,
    code {
      background: #333;
      color: #fff
    }

    nav {
      a {
        background-color: #131313;
        color: #FF3838;
      }
    }
  }

  &.dark-mode {
    background-color: #2d2d2d;
    color: #fff;
    transition: background-color 0.3s ease;

    .home {
      a {
        color: #00ffbf;
      }
    }

    pre,
    code {
      background: rgb(173, 39, 39);

      color: #fff;
    }

    nav {
      a {
        color: #fff;
        background: cornflowerblue;
      }
    }
  }
}