*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.4;
  min-height: 100vh;

  &.light-mode {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;

    nav {
      a {
        background-color: #10171d;
        color: #dfdfdf;
      }
    }
  }

  &.dark-mode {
    background-color: #10171d;
    color: #dfdfdf;
    transition: background-color 0.3s ease;

    nav {
      a {
        background: #FF3838;
        color: white;
      }
    }
  }
}